{% extends "base.html" %}
{% block content %}
      <div class="container">
        <h1>Log in</h1>
        <form method="POST" action="{{ url_for('authenticate') }}">
            <input type="hidden" name="next_page" value="{{ next_page }}">
            <p><label>Username:</label> <input class="form-control" type="text" name="user" required></p>
            <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
            <p><button class="btn btn-primary" type="submit">Enter</button></p>
        </form>
        <a class="btn btn-danger" href="{{ url_for('index') }}">Go Back</a>
    </div>
{% endblock %}